
.public {
  background-color: rgb(59, 69, 83);
  color: aliceblue;
  width: 40vw;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center; 
}

.post {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.photo_author {
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.photo_author:hover {
  opacity: 0.6;
}

.author_post {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.author{
  display: flex;
  flex-direction: row;
  height: 30px;
  
  align-items: center;
}

.name {
  margin: 0 5px 0 0;
  padding: 0;
  font-size: 1.3em;
}

.photo_check {
  height: 15px;
  margin: 0 5px 0 0;
  background-color: aliceblue;
  border-radius: 50%;
}

.link_nickname {
  text-decoration: none;
  color: rgb(120, 121, 122);
  margin: 0 5px 0 0;
  font-weight: 500;
}

.date{
  margin: 0 0 0 5px;
  color: rgb(120, 121, 122);
  font-weight: 500;
}

.content_items {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 250px;
}

.content_message{
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-weight: 400;
  padding-bottom: 5px;
  width: 400px;
}

.content_photo{
  border-radius: 20px;
  width: 400px;
}

.content_photo:hover {
  opacity: 0.6;
}

.activity {
  display: flex;
  margin: 10px 20px 0 0;
}

.activity_items{
  display: flex;
  margin-right: 60px;
  align-items: center;
}

p {
  margin: 0 5px;
  padding: 0;
  font-size: 1em;
}

.activity_photo {
  filter: invert(1);
  width: 17px;
  height: 17px;
}
